/* CSS Document */
.wrapper
{ /*float:left;*/
height:auto;
width:990px;
padding:0px;
margin:0px;
margin-left:auto; 
margin-right:auto;
background:#FFFFFF;
border:0px solid #000000;
}

.head
{
float:leftl;
height:155px;
width:990px;
padding:0px;
margin:0px;
border:0px solid #000000;
}

.container
{
float:left;
height:520px;
width:990px;
padding:0px;
margin:0px;
border:0px solid #0000CC;
}

.banner
{
float:left;
height:300px;
width:985px;
margin-top:auto;
padding:0px;
margin:0px;
border:0px solid #000;
}
.content
{
float:left;
height:220px;
width:490px;
margin-top:auto;
padding:0px;
margin:0px;
border:0px solid #000;
}

.right
{
float:left;
height:220px;
width:490px;
padding:0px;
margin:0px;
border:0px solid #000;
}
.product_content
{
float:left;
height:120px;
width:985px;
margin-top:auto;
padding:0px;
margin:0px;
border:0px solid #000;
}


.layer
{
margin-left:500px;
/*margin-top:20px;*/
/*margin-bottom:20px;*/
height:10px;
width:990px;
padding:0px;
margin:0px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:14px;
}

.layer1
{
float:left;
height:100px;
width:990px;
padding:0px;
margin:0px;
}

.logo
{
font-family:"Times New Roman", Times, serif;
font-size:16mm;
color:#003333;
}

.layer2
{
float:left;
height:40px;
width:990px;
padding:0px;
margin:0px;
}

/*.menu2
{
float:left;
margin-top:5px;
padding:2px;
margin-left:15px;
}

.name
{
float:left;
margin-top:5px;
padding:2px;
margin-left:15px;
margin-top:10px;
}*/


.footer1
{
float:left;
height:20px;
width:985px;
padding:1px;
margin:1px;
background:#FFFFFF;
}

.footer2
{
float:left;
height:20px;
width:985px;
padding:1px;
margin:1px;
background:#FFFFFF;
}

/*------Qulity CSS------*/
.quality_container
{
float:left;
height:520px;
width:990px;
padding:0px;
margin:0px;
border:0px solid #0000CC;
}

.quality_left
{
float:left;
height:520px;
width:490px;
margin-top:auto;
padding:0px;
margin:0px;
border:0px solid #000;
}
.quality_right
{
float:left;
height:520px;
width:490px;
margin-top:auto;
padding:0px;
margin:0px;
border:0px solid #000;
}
/*------Service CSS------*/
.service_container
{
float:left;
height:auto;
width:990px;
padding:0px;
margin:0px;
border:0px solid #0000CC;
}
.service_banner
{
float:left;
height:300px;
width:985px;
margin-top:auto;
padding:0px;
margin:0px;
border:0px solid #000;
}
.service_left
{
float:left;
height:320px;
width:490px;
margin-top:auto;
padding:0px;
margin:0px;
border:0px solid #000;
}
.service_right
{
float:left;
height:320px;
width:490px;
margin-top:auto;
padding:0px;
margin:0px;
border:0px solid #000;
}
/*------Contact CSS------*/
.contact_container
{
float:left;
height:auto;
width:990px;
padding:0px;
margin:0px;
border:0px solid #0000CC;
}
.contact_banner
{
float:left;
height:300px;
width:985px;
margin-top:auto;
padding:0px;
margin:0px;
border:0px solid #000;
}
.contact_left
{
float:left;
height:220px;
width:490px;
margin-top:auto;
padding:0px;
margin:0px;
border:0px solid #000;
}
.contact_right
{
float:left;
height:220px;
width:490px;
margin-top:auto;
padding:0px;
margin:0px;
border:0px solid #000;
}